body {
    background-color: #F3F1FF;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* first section  */
.first-section {
    background-color: #Ffffff;
    width: 870px;
    padding: 12px 34px 39px;
    margin-top: 33px;
    border-radius: 5px;
}

.first-section .top h3 {
    color: #562EFF;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 16px;
}

.player h3 {
    font-size: 18px;
    font-weight: 500;
}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 60px;
    padding-bottom: 35px;
}

.player {
    display: flex;
    gap: 10px;
}

.player img {
    height: 56px;
    width: 56px;
}

.first-section hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
    margin-top: 0px;

}

/* first section  */

/* new part started */
.top-blogs .topB h3 {
    color: #562EFF;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 31px;
}

.blogs .image img {
    width: 177px;
    height: 117px;
}

.description .title {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin: 0px;
    margin-bottom: 6px;
}

.description .author {
    font-size: 16px;
    font-weight: 500;
    color: #9f9f9f;
    margin: 0px;
}

.description .author a {
    text-decoration: none;
    font-size: 16 px;
    font-weight: 500;
    color: #562EFF;
}

.blogs .description {
    margin-left: 16px;
}

.all-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blogs {
    display: flex;
}

/* this section is completed  */
/* new section started  */

.second-section {
    background-color: #Ffffff;
    width: 870px;
    padding: 23px 34px 39px;
    margin-top: 33px;
    border-radius: 5px;
}

.div-for-heading h3 {
    color: #562EFF;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 16px;
}